.btn{
    width: 100%;
    border: 3px solid #000;
    background: none;
    aspect-ratio: 1/1;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.btn.active{
    background-color: hsl(100, 100%, 50%);
    color: white
} 

.btn.inactive{
    opacity: 0.5;
}

.btn:hover:not(:disabled)

.btn:focus:not(:disabled){
    outline: none;
}